/*
  Modal-related styles
*/
.modal {
  text-align: center !important;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

#loading .modal-body .glyphicon {
  font-size: 30px;
}

#statsModal .modal-body .glyphicon {
  font-size: 30px;
}

#statsModal .modal-dialog {
  width: 95%;
  margin: 10 auto;
}

/*
#statsModal .modal-content {
  height: inherit;
}

#statsModal .modal-body {
  height: inherit;
}

#infoRow > div {
  height: 100%;
}

#genderGraphRow {
  height: 50% !important;
}

#yearGraphRow{
  height: 50% !important;
}

#infoRow {
  height: 100% !important;
}
*/

/*
  Clickable rows
*/
tr.clickable-row {
    cursor: pointer;
}

/*
  Override datepicker's weird behaviour
*/
.bootstrap-datetimepicker-widget {
  left: inherit !important;
}

/*
  Animate glyphicon (http://www.bootply.com/128062)
*/

.glyphicon-refresh-animate {
  -animation: spin .8s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}